.wp_syntax {
  color: #100;
  background:#fff;
  margin: 0 auto 20px auto;
  overflow: auto;
  border: 1px solid #ddd;
}

/* IE FIX */
.wp_syntax {
  overflow-x: auto;
  overflow-y: hidden;
  padding-bottom: expression(this.scrollWidth > this.offsetWidth ? 15 : 0);
  width: 100%;
  max-width: 1200px;
}

.wp_syntax table {
  border-collapse: collapse;
}

.wp_syntax div, .wp_syntax td {
  vertical-align: top;
  padding: 20px 0;
}

.wp_syntax .line_numbers {
  text-align: right;
  background:#f4f6f7 ;
  color: #999;
  overflow: visible;
  padding: 20px 10px 20px 0;
  font-size: 13px;
  line-height: 18px;
  border-right: 1px solid #ddd;
}

.wp_syntax .line_numbers pre {
	width: 40px;
}

/* potential overrides for other styles */
.wp_syntax .code pre {
  margin: 0;
  width: auto;
  float: none;
  clear: none;
  overflow: visible;
  font-size: 13px;
  line-height: 18px;
  white-space: pre;
  padding: 0 0 0 20px;
  background:#fff;
  color: #666;
}

@media only screen and (max-width: 1220px) {

	.wp_syntax {
	  margin: 0 0 20px 0;
	}

/*
	.wp_syntax {
	  width: 600px;
	  max-width: 600px;
	}
*/


}

@media only screen and (max-width: 1023px) {

	.wp_syntax {
	  margin: 0 0 20px 0;
	  overflow: auto;
	  border: 1px solid #ddd;
	}

	/* IE FIX */
	.wp_syntax {
	  overflow-x: auto;
	  overflow-y: hidden;
	  padding-bottom: expression(this.scrollWidth > this.offsetWidth ? 15 : 0);
	  width: 800px;
	  max-width: 100%;
	}

}
