.articleArchiv{
	.input-container{
		text-align: center;
		margin: 100px 0px 0px 0px;
	}	
	.save-btn-container{
		margin: 40px;
	}
	.btn:hover{
		cursor: pointer;
	}
	.subject-container{
		height: 50px;
		width: 80%;
		margin: auto;
	}
	.subject-input{
    	float: left;
	}
}