.articleArchiv .input-container {
  text-align: center;
  margin: 100px 0px 0px 0px; }
.articleArchiv .save-btn-container {
  margin: 40px; }
.articleArchiv .btn:hover {
  cursor: pointer; }
.articleArchiv .subject-container {
  overflow: hidden;
  width: 80%;
  margin: auto; }
.articleArchiv .subject-input {
  float: left; }
.articleArchiv .tag-input {
  float: right; }

@media only screen and (max-width: 568px) {
  .tag-input {
    float: left !important; } }
